/* You can add global styles to this file, and also import other style files */
@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url(~font-awesome/css/font-awesome.css);

html, body {
  height: 100%;
}

.standard-snackbar {
  background-color: red;
  color: white;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: 5% auto !important;
}

.standard-snackbar span {
  margin: auto;
  text-align: center;
  font-size: 2vh;
}

.standard-background {
  height: 100%;
  background-size: cover;
  background: linear-gradient(rgb(82, 82, 82), rgb(56, 56, 56)) no-repeat fixed;
}

.border-bottom-standard {
  border-bottom: 3px solid #3399ff;
}

