<div class="modal-header morpheus-den-gradient text-white rounded-top">
  <h4 class="modal-title text-center">Word editing</h4>
  <button mdbBtn size="lg" type="button" class="close red text-white" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="modal-body cloudy-knoxville-gradient rounded-bottom" name="editWordForm" #f="ngForm"
      (ngSubmit)="f.form.valid && this.editWord()">

  <div class="md-form mb-5">
    <input [autofocus]="true" autocomplete="off" mdbInput
           type="text"
           class="form-control"
           id="word"
           [(ngModel)]="wordModel.word"
           name="word"
           #word="ngModel"
           [ngClass]="{ 'is-invalid': f.submitted && word.invalid }"
           required/>
    <label for="word">
      Write word
    </label>
    <div *ngIf="f.submitted && word.invalid" class="text-danger text-center">
      <div *ngIf="word.errors.required">Word is required</div>
    </div>
  </div>

  <div class="md-form mb-5">
    <input autocomplete="off" mdbInput
           type="text"
           class="form-control"
           id="translation"
           [(ngModel)]="wordModel.translation"
           name="translation"
           #translation="ngModel"
           [ngClass]="{ 'is-invalid': f.submitted && translation.invalid }"
           required/>
    <label for="translation">
      Write translations of the word separated by commas
    </label>
    <div *ngIf="f.submitted && translation.invalid" class="invalid-input text-center">
      <div *ngIf="translation.errors.required">Translation is required</div>
    </div>
  </div>

  <button mdbBtn
          color="orange"
          class="waves-light mt-2" size="lg"
          mdbWavesEffect
          type="submit">Edit
  </button>
</form>
