<div class="row">
  <div class="col-12 animated fadeInDown elegant-color border-bottom-standard rounded my-1" *ngIf="users != null">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
          <input
            type="text"
            [(ngModel)]="this.searchTerm"
            class="form-control text-white darken-4"
            id="search"
            mdbInput
            autocomplete="off"
            (ngModelChange)="filter()" (change)="this.getUsers(this.page)"/>
          <label for="search">Search</label>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table mdbTable striped="true" hover="true" class="z-depth-1">
        <thead class="morpheus-den-gradient text-white">
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Commands</th>
        </tr>
        </thead>
        <tbody class="white">
        <tr mdbTableRow *ngFor="let u of users">
          <th>{{u.id}}</th>
          <td>{{u.username}}</td>
          <td>{{u.email}}</td>
          <td>{{u.roles}}</td>
          <td>
            <button *ngIf="isNotAdmin(u)" mdbBtn color="red" outline="true" size="sm"
                    mdbWavesEffect class="waves-light"
                    (click)="remove(u)">
              <i class="fas fa-trash"></i> Delete
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot class="white">
        <tr mdbTableRow>
          <td [colSpan]="5">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li (click)="toBegin()" class="page-item">
                  <button class="page-link blue lighten-2 text-white">
                    <i class="fas fa-angle-double-left"></i>
                  </button>
                </li>
                <li (click)="previous()" class="page-item">
                  <button class="page-link blue lighten-2 text-white">
                    <i class="fas fa-angle-left"></i>
                  </button>
                </li>
                <li class="page-item">
                  <span class="page-link text-white blue">{{page + 1}} of {{totalPages}}</span>
                </li>
                <li (click)="next()" class="page-item">
                  <button class="page-link blue lighten-2 text-white">
                    <i class="fas fa-angle-right"></i>
                  </button>
                </li>
                <li (click)="toEnd()" class="page-item">
                  <button class="page-link blue lighten-2 text-white">
                    <i class="fas fa-angle-double-right"></i>
                  </button>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
