<div class="modal-header morpheus-den-gradient text-white rounded-top">
  <h4 class="modal-title text-center">Password changing</h4>
  <button mdbBtn size="lg" type="button" class="close red text-white" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="modal-body cloudy-knoxville-gradient rounded-bottom" name="changePasswordForm" #f="ngForm"
      (ngSubmit)="f.form.valid && this.changePassword()">

  <div class="md-form mb-5">
    <input [autofocus]="true" autocomplete="off" mdbInput
           type="password"
           class="form-control"
           id="oldPass"
           [(ngModel)]="this.model.oldPassword"
           name="oldPass"
           #oldPass="ngModel"
           [ngClass]="{ 'is-invalid': f.submitted && oldPass.invalid }"
           required
           minlength="{{config.minPasswordLength}}"
           maxlength="{{config.maxPasswordLength}}"/>
    <label for="oldPass">
      Old password
    </label>
    <div *ngIf="f.submitted && oldPass.invalid" class="text-danger text-center">
      <div *ngIf="oldPass.errors.required">Field is required</div>
      <div *ngIf="oldPass.errors.minlength || oldPass.errors.maxlength">
        Password should have more than {{config.minPasswordLength}} and less than {{config.maxPasswordLength}}
        characters
      </div>
    </div>
  </div>

  <div class="md-form mb-5">
    <input autocomplete="off" mdbInput
           type="password"
           class="form-control"
           id="newPass"
           [(ngModel)]="this.model.newPassword"
           name="newPass"
           #newPass="ngModel"
           [ngClass]="{ 'is-invalid': f.submitted && newPass.invalid }"
           required
           minlength="{{config.minPasswordLength}}"
           maxlength="{{config.maxPasswordLength}}"/>
    <label for="newPass">
      New password
    </label>
    <div *ngIf="f.submitted && newPass.invalid" class="text-danger text-center">
      <div *ngIf="newPass.errors.required">Field is required</div>
      <div *ngIf="newPass.errors.minlength || newPass.errors.maxlength">
        Password should have more than {{config.minPasswordLength}} and less than {{config.maxPasswordLength}}
        characters
      </div>
    </div>
  </div>

  <button mdbBtn
          color="red"
          class="waves-light mt-2" size="lg"
          mdbWavesEffect
          type="submit">Change
  </button>
</form>
